body {
    margin: 0;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
    flex-wrap: wrap;
}

ul {
   list-style-type: none;
   display: flex;
   gap: 16px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}


.information {
    text-align: center;
}

.img-section {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-display: #1F2937;
    text-align: left;
    padding: 100px 150px;
}


.modal {
    background: #3882f6;
    width: 60%;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color:#F9FAF8;
    padding-top: 20px;
    padding-bottom: 20px;
}
